*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: #183446;
}

.item1 {grid-area: Header ;}
.item2 {grid-area: Menu;}
.item3 {grid-area: Box1;}
.item4 {grid-area: Box2;}
.item5 {grid-area: Sidebar;}
.item6 {grid-area: Content;}
.item7 {grid-area: Footer;}

.main{
    padding: 20px;
    background-color: aqua;
    margin: 0 auto;
    width: 600px;
    display: grid;
    grid-template-areas:
    'Header Header Header Header Header Header'
    'Menu Menu Menu Menu Menu Menu'
    'Box1 Box1 Box2 Box2 Sidebar Sidebar'
    'Content Content Content Content Sidebar Sidebar'
    'Footer Footer Footer Footer Footer Footer';
    gap: 10px;
  background-color: #635380;
  animation: mymove 5s;
  animation-iteration-count: infinite;
  padding: 10px;
   


}
@keyframes mymove {
    from {background-color:#635380 ;}
    to  {background-color: #576CA8;} 
  }



.item{
    padding: 2px;
    margin: 5px;
    border: 3px solid snow;
    color: snow;
    font-size: larger;
    font-weight: 700;
}

.item1{
    background-color: #2C0E37;
    padding: 30px;
    text-align: center;
   
}
.item2{
    background-color: #25283D;
    padding: 5px;
    
    
}
.item3{
    background-color: #3C1518;
    padding: 25px;
    text-align: center;
}
.item4{
    background-color: #0B0033;
    padding: 25px;
    text-align: center;
}
.item5{
    background-color: #0B3948;
    padding: 20px;
    animation: grp1 7s;
    animation-iteration-count: infinite;
}
@keyframes grp1 {
    from {background-color:#0B3948 ;}
    to  {background-color: #87BBA2;} 
  }
.item6{
    background-color: #183446;
    animation: ani 5s;
    animation-iteration-count: infinite;

    padding: 100px;
}
@keyframes ani {
    from {background-color:#183446 ;}
    to  {background-color: #091642;} 
  }
.item7{
    background-color: #2E3532;
    padding: 20px;
}

/* @media screen and (min-width: 690px) {
    body {
      background-color: lightgreen;

    }} */
    /* Hide the audio element by default */

    @media screen and (min-width:590px) and (max-width:678px){
        .item1{
           
           

            border-radius: 8px;
            border: 2px solid black;
            background-image: url(./code.jpg);
            display: block;
            padding: 30px;
            color: greenyellow;
            font-size: 50px;
            background-size: cover;
            text-align: center; 
        }
        body{
          background-color: thistle;
        }
    }

    @media screen and (min-width: 679px) and (max-width:750px) {
        .item1 {
          text-shadow: 0 0 10px #ff00ff; /* Apply a glowing effect */
          font-size: 50px;
          background-color: black;
          border:2px solid snow;
          border-radius: 5px;
          text-shadow: 0 0 5px #ff0000; /* Initial text shadow */
    animation: shadow-pulse 1.5s infinite alternate; /* Apply shadow pulse animation */
  }

  @keyframes shadow-pulse {
    0% {
      text-shadow: 0 0 5px #ff0000; /* Initial text shadow */
    }
    100% {
      text-shadow: 0 0 20px #ff0000; /* Increased text shadow */
    }
        }
        body{
          background-color:#8C7284;
        }
      }

   

  
